---
title: DreamSpace: Actionable Advice to Advance your Career
---

<div class="container">
	<header>
		<%= image_tag 'DreamSpaceLogo.png' %>
	</header>
	<section id="chat">
		<div class="messages">
			<div class="dream-message">
				<div><p class="open">Welcome to Dream Space!</p></div>
				<div><p class="close">We can help you discover more success and fulfillment in your career.</p></div>
			</div>
			<div class="user-message">
				<div><p class="open">Awesome</p></div>
				<div class="last">
					<p class="close">Lorem ipsum dolor sit amet.</p>
					<%= image_tag 'avatar.png' %>
				</div>
			</div>
			<div class="dream-message">
				<div class="last">
					<%= image_tag 'avatar.png' %>
					<p class="close">Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
		</div>
		
	</section>





	<section id="mailChimp">
		
		<!-- Begin MailChimp Signup Form -->

		<div id="mc_embed_signup">
		<form action="//diegozaks.us3.list-manage.com/subscribe/post?u=93c8a6159d8bba7c6fdf33bdb&amp;id=20b851838d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
				<div class="mc-field-group">
					<!-- <label for="mce-FNAME">First Name </label> -->
					<input type="text"onfocus="if(this.value == 'Your name') { this.value = ''; }" value="Your name" / name="FNAME" class="" id="mce-FNAME">
				</div>
				<div class="mc-field-group">
					<!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> -->
					</label>
					<input type="email"  onfocus="if(this.value == 'Your email') { this.value = ''; }" value="Your email" / name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				
				<div class="mc-field-group">
					<!-- <label for="mce-LNAME">Last Name </label> -->
					<input type="text" onfocus="if(this.value == 'Phone Number') { this.value = ''; }" value="Phone Number" / name="LNAME" class="" id="mce-LNAME">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true">
			    	<input type="text" name="b_93c8a6159d8bba7c6fdf33bdb_20b851838d" tabindex="-1" value="">
			    </div>
			    <div class="clear">
			    	<input type="submit" value="Request Early Access" name="subscribe" id="mc-embedded-subscribe" class="button">
			    </div>
		    </div>
		</form>
		</div>
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<!--End mc_embed_signup-->

	</section>
	<section id="logos">
		<%= image_tag 'whatsapp.png' %>
		<%= image_tag 'sms.png' %>
		<%= image_tag 'messenger.png' %>
		<%= image_tag 'slack.png' %>
		<%= image_tag 'imessage.png' %>
	</section>
	<footer>
		<p>Footer text</p>
	</footer>
</div>